.guide {
    margin-top: 60px;
    padding-top: 80px;
}
    .guide__panel {

    }
        .guide__inner {
            position: relative;
            height: 500px;
            padding: 80px 60px;
            background-image: url("../images/guide-background/guide-background-desktop@1x.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 10px;
            overflow: hidden;
        }

        /* Если поддерживается image-set: */
        @supports (background: image-set("foo.png" type("image/png")) ) {
            .guide__inner {
                background-image: image-set(
                    /*url("../images/guide-background/guide-background-desktop@3x.avif") type("image/avif") 3x,*/
                    /*url("../images/guide-background/guide-background-desktop@2x.avif") type("image/avif") 2x,*/
                    /*url("../images/guide-background/guide-background-desktop@1.5x.avif") type("image/avif") 1.5x,*/
                    /*url("../images/guide-background/guide-background-desktop@1.25x.avif") type("image/avif") 1.25x,*/
                    /*url("../images/guide-background/guide-background-desktop@1x.avif") type("image/avif") 1x,*/
                    url("../images/guide-background/guide-background-desktop@3x.jpg") type("image/jpeg") 3x,
                    url("../images/guide-background/guide-background-desktop@2x.jpg") type("image/jpeg") 2x,
                    url("../images/guide-background/guide-background-desktop@1.5x.jpg") type("image/jpeg") 1.5x,
                    url("../images/guide-background/guide-background-desktop@1.25x.jpg") type("image/jpeg") 1.25x,
                    url("../images/guide-background/guide-background-desktop@1x.jpg") type("image/jpeg") 1x
                );
            }
        }
            .guide__inner::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                /*background-color: rgba(0, 0, 0, 0.4);*/
            }

            .guide__logo {
                position: relative;
                vertical-align: top;
                width: auto;
                height: 51px;
            }

            .guide__heading {
                position: relative;
                margin-top: 32px;
                max-width: 527px;
                font-weight: bold;
                font-size: 56px;
                line-height: 66px;
                color: #FFFFFF;
            }

    .guide__description {
        margin-top: 40px;
        max-width: 919px;
    }

    .guide__stores {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }



@media (max-width: 1200px) {

.guide {
    margin-top: 24px;
    padding-top: 60px;
}
    .guide__panel {

    }
        .guide__inner {
            height: 320px;
            padding: 40px 60px;
            border-radius: 2px;
            /*overflow: hidden;*/
        }
            .guide__inner::before {

            }

            .guide__logo {
                height: 33px;
            }

            .guide__heading {
                margin-top: 24px;
                max-width: 340px;
                font-size: 31px;
                line-height: 36px;
            }

    .guide__description {
        margin-top: 24px;
    }

    .guide__stores {
        margin-top: 24px;
        gap: 16px;
    }
}


@media (max-width: 600px) {
    .guide__inner {
        padding-left: 16px;
        padding-right: 16px;
        background-image: url("../images/guide-background/guide-background-smartphone@1x.jpg");
    }

    /* Если поддерживается image-set: */
    @supports (background: image-set("foo.png" type("image/png")) ) {
        .guide__inner {
            background-image: image-set(
                /*url("../images/guide-background/guide-background-smartphone@3x.avif") type("image/avif") 3x,*/
                /*url("../images/guide-background/guide-background-smartphone@2x.avif") type("image/avif") 2x,*/
                /*url("../images/guide-background/guide-background-smartphone@1.5x.avif") type("image/avif") 1.5x,*/
                /*url("../images/guide-background/guide-background-smartphone@1.25x.avif") type("image/avif") 1.25x,*/
                /*url("../images/guide-background/guide-background-smartphone@1x.avif") type("image/avif") 1x,*/
                url("../images/guide-background/guide-background-smartphone@3x.jpg") type("image/jpeg") 3x,
                url("../images/guide-background/guide-background-smartphone@2x.jpg") type("image/jpeg") 2x,
                url("../images/guide-background/guide-background-smartphone@1.5x.jpg") type("image/jpeg") 1.5x,
                url("../images/guide-background/guide-background-smartphone@1.25x.jpg") type("image/jpeg") 1.25x,
                url("../images/guide-background/guide-background-smartphone@1x.jpg") type("image/jpeg") 1x
            );
        }
    }
    .guide__heading {
        max-width: 260px;
    }
}
