.guide {

}
    .guide__panel {

    }
        .guide__inner {
            height: 500px;
            background-image: url("../images/guide-background/guide-background@1x.jpg");
            background-size: 1400px 500px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        @media (min-resolution: 1.25dppx) {
            .guide__inner {
                background-image: url("../images/guide-background/guide-background@1.25x.jpg");
            }
        }

        @media (min-resolution: 1.5dppx) {
            .guide__inner {
                background-image: url("../images/guide-background/guide-background@1.5x.jpg");
            }
        }

        @media (min-resolution: 2dppx) {
            .guide__inner {
                background-image: url("../images/guide-background/guide-background@2x.jpg");
            }
        }

        @media (min-resolution: 3dppx) {
            .guide__inner {
                background-image: url("../images/guide-background/guide-background@3x.jpg");
            }
        }

        /*.guide__inner {*/
        /*    background-image: image-set(*/
        /*            url("../images/guide-background/guide-background@2x.avif") type("image/avif") 2x,*/
        /*            url("../images/guide-background/guide-background.avif") type("image/avif") 1x,*/
        /*            url("../images/guide-background/guide-background@2x.webp") type("image/webp") 2x,*/
        /*            url("../images/guide-background/guide-background.webp") type("image/webp") 1x*/
        /*    );*/
        /*}*/
