:root {
    --font: 'Roboto', sans-serif;
    --font-heading: 'Cuprum', sans-serif;
    --body-font-size: 18px;
    --body-line-height: 22px;
    --image-fallback: #323C4A;
    --black: #0F1216;
    --black-20pct: rgba(15, 18, 22, 0.2);
    --black-50pct: rgba(15, 18, 22, 0.5);
    --gray2: #F5F5F5;
    --transition-default: 200ms ease;
}

@media screen and (max-width: 1200px) {
    :root {
        --body-font-size: 16px;
        --body-line-height: 20px;
    }
}
