:root {
    --font: 'Roboto', sans-serif;
    --font-heading: 'Cuprum', sans-serif;
    --body-font-size: 18px;
    --body-line-height: 22px;
    --image-fallback: #323C4A;
    --black: #0F1216;
    --black-20pct: rgba(15, 18, 22, 0.2);
    --black-50pct: rgba(15, 18, 22, 0.5);
    --gray: #A5A5A5;
    --gray2: #F5F5F5;
    --yellow: #FFC700;
    --transition-default: 200ms ease;
    --container-padding: 40px;
    --header-height: 188px;
    --header-color: #0F1216;
}

@media (max-width: 1500px) {
    :root {
        --header-height: 142px;

    }
}

@media (max-width: 1200px) {
    :root {
        --body-font-size: 16px;
        --body-line-height: 20px;
        --container-padding: 20px;
    }
}


@media (max-width: 900px) {
    :root {
        --header-height: 112px;
    }
}
