.tickets {
    padding-top: 80px;
}
    .tickets__heading {

    }

    .tickets__body {
        margin-top: 34px;
    }
        .tickets__item {
            margin-top: 40px;
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .tickets__item:first-child {
            margin-top: 0;
        }
            .tickets__main-info {
                flex-grow: 300;
                flex-basis: 0;
                flex-shrink: 0;
                overflow: hidden;
            }
                .tickets__sub-heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-right: 16px;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 26px;
                }

                .tickets__schedule {
                    margin-top: 25px;
                    font-size: 18px;
                    line-height: 22px;
                }

            .tickets__contains {
                flex-grow: 600;
                flex-basis: 0;
                flex-shrink: 0;
                overflow: hidden;
            }

            .tickets__info {
                padding-left: 40px;
                flex-grow: 100;
                flex-basis: 0;
                flex-shrink: 0;
                overflow: hidden;
            }
                .tickets__line {
                    margin-top: 26px;
                }

                .tickets__line:first-child {
                    margin-top: 0;
                }
                    .tickets__price {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 24px;
                    }

                    .tickets__kind {
                        margin-left: 12px;
                        font-size: var(--body-font-size);
                        line-height: var(--body-line-height);
                    }

            .tickets__actions {
                flex-grow: 300;
                flex-basis: 0;
                flex-shrink: 0;
                overflow: hidden;
                text-align: right;
            }



@media (max-width: 1200px) {

    .tickets {
        padding-top: 60px;
    }
        .tickets__heading {

        }

        .tickets__body {
            margin-top: 24px;
        }
            .tickets__item {
                display: block;
                margin-top: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid #000000;
            }

            .tickets__item:first-child {

            }
                .tickets__main-info {

                }
                    .tickets__sub-heading {
                        font-size: 18px;
                        line-height: 22px;
                    }

                    .tickets__schedule {

                    }

                .tickets__contains {
                    margin-top: 24px;
                }

                .tickets__info {
                    margin-top: 24px;
                    padding-left: 0;
                    margin-bottom: -80px;
                }
                    .tickets__line {
                        margin-top: 18px;
                    }
                        .tickets__price {
                            /*font-weight: 600;*/
                            font-size: 18px;
                            line-height: 20px;
                        }

                        .tickets__kind {
                            margin-left: 8px;
                            /*font-size: var(--body-font-size);*/
                            /*line-height: var(--body-line-height);*/
                        }

                .tickets__actions {
                    margin-top: 24px;
                    text-align: left;
                }

                @media (max-width: 600px) {
                    .tickets__actions {
                        text-align: right;
                    }
                }

}
