* {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-transition: none;
    transition: none;
}


* {
    box-sizing: border-box;
}

/* Не было проставлено в изначальном резете */
*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

[data-fancybox] {
    width: auto;
    height: auto;
    position: static;
    background: none;
}
